export AGENTO11Y_AUTH_TENANT_ID=$(op read "op://Lab/AgentO11y Token - petewall1/username")
export AGENTO11Y_ACCESS_TOKEN=$(op read "op://Lab/AgentO11y Token - petewall1/password")
export AGENTO11Y_ENDPOINT=$(op read "op://Lab/AgentO11y Token - petewall1/website")
export AGENTO11Y_OTLP_ENDPOINT=$(op read "op://Lab/AgentO11y Token - petewall1/otlp website")
